<h1> Contribute </h1>
<h4> Quotes you created: </h4>
<ol>
  <% @user.quotes.each do |quote| %>
    <li> <%= quote.politician.first_name %> <%= quote.politician.last_name %>: "<%= quote.content %>" <%= link_to "Source" , "https://" + quote.source_link %> <%= quote.source_tracker ? "ðŸŽ†from: #{quote.source_tracker.name}" : "hasNoTrackerâš ï¸" %> <%= link_to "Edit", edit_quote_path(quote) %></li>
  <% end %>
</ol>

<%= link_to "Create quote", new_quote_path %>
<hr>
<%= link_to "Create politician", new_politician_path if user_signed_in? && current_user.permissions == "admin" %> 

