<h2>Politicians</h2>

<ul>
  <% @politicians.each_with_index do |politician, index| %>
    <li> <%= index + 1 %>. <%= politician.first_name %> - <%= politician.last_name %> <%= link_to "link", politician_path(politician) %></li>
  <% end %>
</ul>

<h2>Locations</h2>

<ul>
  <% @locations.each do |location| %>
    <li><%= location.name %></li>
  <% end %>
</ul>

