<h2>Politicians</h2>

<div class="list-group">
<% @politicians.each_with_index do |politician, index| %>
   <%= link_to politician.first_name + " " + politician.last_name, politician_path(politician), class: "list-group-item" %>
  <% end %>
</div>

<script>
  const politicians = [
    <% @politicians.each do |politician| %>
      { firstName: "<%= politician.first_name %>", lastName: "<%= politician.last_name %>", location: "<%= politician.location.name %>", party: "<%= politician.party %>"},
    <% end %>
  ];
  console.log(politicians);
</script>

